# dependencias y compilación
node_modules/
.next/
out/
build/

# entorno
.env
.env.*
!.env.example

# sistema y editor
.DS_Store
Thumbs.db
*.log
.vscode/*
!.vscode/extensions.json

# TypeScript
*.tsbuildinfo
next-env.d.ts
